.hero-text-container{
    display: flex;
    flex-direction: column;
    width: auto;
    
}

.overflow-hidden-hero{
    height: 3.5em;
    width: 100%;
    overflow: hidden;
}

.hero-text-1{
    height: 3.5em;
    transform: translateY(100%), rotate(5deg);
    color: white;
    animation: text-reveal 1s ease-in-out 100ms forwards;
    display: flex;
}

.hero-text-2{
    height: 4.5em;
    transform: translateY(100%), rotate(5deg);
    color: white;
    animation: text-reveal 1s ease-in-out 200ms forwards;
    display: flex;
}

.hero-sparkle{
    transform: translateX(-3em);
    animation: text-reveal-2 1s ease-in-out 1500ms forwards;
}

.hero-text-animated{
    transform: translateX(-3em);
    animation: text-reveal-2 1s ease-in-out 1500ms forwards;
}



@keyframes text-reveal {
    from {
        transform: translateY(130%) rotate(5deg);

    }
    to {
        transform: translateY(0) rotate(0deg);
    }
  }

  @keyframes text-reveal-2 {
    from {
        transform: translateX(-3em);

    }
    to {
        transform: translateX(0);
    }
  }



  .ai {
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0182cd 70%,
        #b14ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}


@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}




.icon-container {
    position: relative;
    width: 3.5em;
    height: 3.5em;
    margin-left: 0.5em;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

