@media (max-width: 1000px) {
    .skills-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-shape-1{
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 200px;
        height: 300px;
        border-radius: 50%;
        background-color: rgb(65, 150, 253);
        z-index: 997;
        animation: rotate 5s linear infinite;
    
    }
    
    .menu-shape-2{
        position: absolute;
        bottom: -100px;
        right: 0px;
        width: 100px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(76, 190, 252);
        z-index: 997;
        animation: rotate 5s linear infinite;
    }

    .menu-col{
        display: flex;
        flex-direction: column;
        height: 80%;
        flex: 1;
        padding-left: 2%;
        z-index: 999;
    
    }
    
    .menu-col-social{
        display: flex;
        flex-direction: column;
        height: 80%;
        flex: 1;
        padding-left: 5%;
        z-index: 999;
    
    }

    .menu-col-social a {
        color: black;
        text-decoration: none;
        font-size: 1em;
        font-weight: 200;
    }
    
    .menu-title{
        font-weight: 100;
        font-size: 1em;
        color: gray;
        margin-bottom: 1em;
    }
}