* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "SUSE", sans-serif;
    scroll-behavior: smooth;
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

#hero {
    height: 100vh;
    color: white;
}

#about, #projects, #contacts {
    color: black;
}

.container {
    max-width: 1000px;
    padding: 20px;
}

.content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 150px;
}

.project-img{
    height: 100%;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-text{
    height: 100%;
    width: calc(100% - 150px);
    padding-left: 30px;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: -1;
}

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    --menu-button-color: white; /* Colore predefinito */
}

.menu-text{
    position: fixed;
    top: 20px;
    right: 70px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    /* width: 40px;
    height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--menu-button-color);
}

.menu-button::before,
.menu-button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--menu-button-color); /* Usa la variabile per il colore */
    transition: all 0.3s ease;
}

.menu-button::before {
    transform: translateY(-6px);
}

.menu-button::after {
    transform: translateY(6px);
}

.menu-button.open::before {
    transform: rotate(45deg);
    background-color: black;

}

.menu-button.open::after {
    transform: rotate(-45deg);
    background-color: black;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.menu-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 996;
}

.menu-shape-1{
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 500px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(65, 150, 253);
    z-index: 997;
    animation: rotate 5s linear infinite;

}

.menu-shape-2{
    position: absolute;
    bottom: -200px;
    right: 0px;
    width: 300px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(76, 190, 252);
    z-index: 997;
    animation: rotate 5s linear infinite;
}

/* Definisci l'animazione di rotazione */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px); /* Applica l'effetto blur */
    background-color: rgba(255, 255, 255, 0.3); /* Opzionale: Aggiunge un overlay semi-trasparente */
    z-index: 998;
}

.menu.open {
    right: 0;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}


.menu-col{
    display: flex;
    flex-direction: column;
    height: 50%;
    flex: 1;
    padding-left: 15%;
    z-index: 999;

}

.menu-col-social{
    display: flex;
    flex-direction: column;
    height: 50%;
    flex: 1;
    padding-left: 15%;
    z-index: 999;

}

.menu-col-social-links{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.menu-col-social-email{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
}


.menu-col-social a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 200;
}

.menu-title{
    font-weight: 100;
    font-size: 1.5em;
    color: gray;
    margin-bottom: 1em;
}



.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

/* .skill-icon{

} */

.skill-circle-1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(202, 241, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-circle-2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(137, 224, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.skill-title{
    font-size: 1.5em;
    margin-top: 10px;
}

.skill-card{
    height: 200px;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 25px;
    background-color: rgb(229, 248, 255);
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 40, 77);


}



.contacts-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

.contacts-shape-1{
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 500px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(65, 150, 253);
    z-index: 2;
    animation: rotate 5s linear infinite;

}

.contacts-shape-2{
    position: absolute;
    bottom: -200px;
    left: 0px;
    width: 300px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(76, 190, 252);
    z-index: 2;
    animation: rotate 5s linear infinite;
}

/* Definisci l'animazione di rotazione */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blur-contacts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px); /* Applica l'effetto blur */
    background-color: rgba(255, 255, 255, 0.3); /* Opzionale: Aggiunge un overlay semi-trasparente */
    z-index: 3;
}

.container-contacts{
    z-index: 4;
}

