@media only screen and (max-width:1000px){
    .btn{
        background-color: #6C63FF;
        color: white;
        border-radius: 30px;
        border: solid 2px #6C63FF;
        padding: 5% 10%;
        font-size: 5vw;
        cursor:pointer;
    }
    
    .about-container{
        height: auto;
    }
    
    .about-avatar{
        display: none;
    }
    .about-title{
        margin: 5%;
        width: 90%;
    }
    
    .about-title h1{
        font-size: 8vw;
        font-weight: 700;
    }
    
    .about-title p{
        font-size: 6vw;
        font-weight: 400;
    }

    .about-avatar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }

    .section-about{
        margin: 5%;
        width: 90%;
    }
    .section-title{
        font-size: 8vw;
        font-weight: 700;
    }
    
    .section-text{
        margin-top:3%;
        font-size: 4vw;
        font-weight: 400;
    }
    
    .section-skills{
        margin: 5%;
        width: 90%;
    }

    .skills-cards{
        display: block;
        margin:0%;
    }
    
    .card{
        border-radius: 40px;
        border: transparent;
        background-color: #4158D0;
        background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
        background-attachment: fixed;
        padding: 3%;
        margin: 5%;
        margin-bottom: 10%;
    }
    
    .card-title{
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
    }
    
    .card-text{
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
    }

    .worktree{
        display: block;
    }

    .button-folder{
        font-size: 5vw;
    }
    #file-tree{
        color:white;
        margin:auto;
        margin:10%;
        overflow:scroll;
        width: 100%;
    }

    .cardtitle{
        font-size: 5vw;
    }
    
    .cardtext{
        font-size: 4vw;
    }

    .project-view-1{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    .prj-card-1{
        border-radius: 30px;
        border: solid 2px white;
        width:30%;
        margin:1%;
        flex: 1;
    }

    
}