@media only screen and (max-width:1000px){
    .btn{
        background-color: #6C63FF;
        color: white;
        border-radius: 30px;
        border: solid 2px #6C63FF;
        padding: 5% 10%;
        font-size: 5vw;
        cursor:pointer;
    }
    
    .about-container{
        height: auto;
    }
    
    .about-avatar{
        display: none;
    }
    .about-title{
        margin: 5%;
        width: 90%;
    }
    
    .about-title h1{
        font-size: 8vw;
        font-weight: 700;
    }
    
    .about-title p{
        font-size: 6vw;
        font-weight: 400;
    }

    .about-avatar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }

    .section-about{
        margin: 5%;
        width: 90%;
    }
    .section-title{
        font-size: 8vw;
        font-weight: 700;
    }
    
    .section-text{
        margin-top:3%;
        font-size: 4vw;
        font-weight: 400;
    }
    
    .section-skills{
        margin: 5%;
        width: 90%;
    }

    .skills-cards{
        display: block;
        margin:0%;
    }
    
    .card{
        border-radius: 40px;
        border: transparent;
        background-color: #4158D0;
        background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
        background-attachment: fixed;
        padding: 3%;
        margin: 5%;
        margin-bottom: 10%;
    }
    
    .card-title{
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
    }
    
    .card-text{
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
    }

    .worktree{
        display: block;
    }

    .button-folder{
        font-size: 5vw;
    }
    #file-tree{
        color:white;
        margin:auto;
        margin:10%;
        overflow:scroll;
        width: 100%;
    }

    .cardtitle{
        font-size: 5vw;
    }
    
    .cardtext{
        font-size: 4vw;
    }

    .project-view-1{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    .prj-card-1{
        border-radius: 30px;
        border: solid 2px white;
        width:30%;
        margin:1%;
        flex: 1;
    }

    .section-contacts{
        margin: 5%;
        width: 90%;
        margin-bottom: 15%;
    }

    .workitem{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    
    .workitem .number{
        font-size: 18vw;
        font-weight: 700;
        width: 20%;
        text-align: center;
    }
    
    .workitem .text{
        width: 80%;
    }
    
    .workitem .text .title{
        font-size: 6vw;
        font-weight: 700;
    }
    
    .workitem .text .subtitle{
        font-size: 4vw;
    }
    
    .workitem .text .link{
        font-size: 4vw;
    }
    
    .workitem .text .link a{
        font-size: 4vw;
        text-decoration: none;
        color: gray;
    }

    footer{
        text-align: center;
        padding: 15%;
        font-size: 4vw;
        background-color: #202020;
    }

    strong {
        position: relative;
    }
      
    strong::before {
        /* Highlight color */
        background-color: #784BA0;
        content: "";
        position: absolute;
        width: calc(100% + 4px);
        height: 60%;
        left: -2px;
        bottom: 0;
        z-index: -1;
        transform: rotate(2deg);
    }

    .section-title strong {
        position: relative;
    }
      
    .section-title strong::before {
        /* Highlight color */
        background-color: #6C63FF;
        content: "";
        position: absolute;
        width: calc(100% + 4px);
        height: 60%;
        left: -2px;
        bottom: 0;
        z-index: -1;
        transform: rotate(-2deg);
    }

    
    
}