html, body {
    color: white;
    background-color: #252525;
    font-family: 'Roboto Mono', monospace;
    /*font-family: "Montserrat", sans-serif;*/
    transition: background-image 1.5s, color 1s;
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn{
    background-color: #6C63FF;
    color: white;
    border-radius: 15px;
    border: solid 2px #6C63FF;
    padding: 5% 10%;
    font-size: 2vw;
    cursor:pointer;
    font-family: 'Roboto Mono', monospace;
}

.btn:hover{
    background-color: transparent;
    color: #6C63FF;
    border-radius: 15px;
    border: solid 2px #6C63FF;
}


.about-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.about-title{
    margin: 10%;
    width: 30%;
}

.about-title h1{
    font-size: 3vw;
    font-weight: 700;
}

.about-title p{
    font-size: 2vw;
    font-weight: 400;
}

.about-avatar{
    margin: 10%;
    margin-left: 0%;
}
.about-avatar-mobile{
    display: none;
}

.imgavatar{
    width:100%; 
    vertical-align: middle;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
}

.imgavatar-mobile{
    width:80%; 
    vertical-align: middle;
}

.section-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-about{
    margin: 10%;
    width: 50%;
}
.section-title{
    font-size: 4vw;
    font-weight: 700;
}

.section-text{
    margin-top:3%;
    font-size: 2vw;
    font-weight: 400;
}

.section-skills{
    margin: 10%;
    width: 80%;
    margin-bottom: 5%;
}

.skills-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10%;
    margin-top: 0%;
    
}

.card{
    border-radius: 30px;
    border: transparent;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    padding: 3%;
    margin: 1%;
}

.card-title{
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3%;
}

.card-text{
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
}