:root{
    --primary-color: #6C63FF;
    --primary-color2: #8983ff;
    --link-color: gray;
    --link-color: rgb(85, 85, 85);

    --secondary-color: #784BA0;
    --secondary-color2: #b270ec;
}
html, body {
    
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Space Grotesk', sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
    transition: all 1s;
    margin: 0;
    padding: 0;
    height: 100%;
}

.light-mode{
    color: black;
    background-color: #eeeeee;
    
    transition: all 1s;
}

.dark-mode{
    color: white;
    background-color: #252525;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
    border: solid 2px var(--primary-color);
    padding: 3% 6%;
    font-size: 30px;
    cursor:pointer;
    font-family: 'Space Grotesk', sans-serif;
}

.btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 15px;
    border: solid 2px var(--primary-color);
}


.about-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.about-title{
    margin: 10%;
    width: 30%;
}

.about-title h1{
    font-size: 50px;
    font-weight: 700;
}

.about-title p{
    font-size: 30px;
    font-weight: 400;
}

.about-avatar{
    margin: 10%;
    margin-left: 0%;
}
.about-avatar-mobile{
    display: none;
}

.imgavatar{
    width:80%; 
    vertical-align: middle;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
}

.imgavatar-mobile{
    width:80%; 
    vertical-align: middle;
}

.section-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-about{
    margin: 10%;
    width: 50%;
}
.section-title{
    font-size: 50px;
    font-weight: 700;
}

.section-text{
    margin-top:3%;
    font-size: 25px;
    font-weight: 400;
}
.section-text h3{
    text-decoration: underline;
}

.section-skills{
    margin: 10%;
    margin-top: 0%;
    width: 80%;
    margin-bottom: 5%;
}

.section-works{
    margin-top: 10%;
    
}

.skills-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    margin-top: 0%;
    
}

.card{
    border-radius: 30px;
    border: transparent;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-attachment: fixed;
    padding: 3%;
    margin: 1%;
    width: 50%;
    color: white;
    transition: all 0.25s;
}

.card:hover{
    transform: scale(1.05);
}

.card-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3%;
}

.card-text{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}




.button-folder{
    cursor:pointer;
    border:none;
    background:none;
    outline:none;
    display:block;
    color:white;
    font-size: 2vw;
}
.button-folder > *{
    padding:2px 4px;
}
.indent{
    padding:1% 5%;
    display: none;
}
.button-folder .file{
    padding:2px 24px;
}

#file-tree{
    color:white;
    margin:auto;
    margin:10%;
    overflow:scroll;
    margin-bottom: 20%;
    width: 50%;
}
*::-webkit-scrollbar {
    display: none;
}

.worktree{
    display: flex;
}

.project-view{
    width: 50%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prj-card{
    border-radius: 30px;
    height: 100%;
    border: solid 2px white;
}

.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.cardimg{
    border-radius: 20px;
    border: solid 2px white;
    width: 90%;
    
}

.cardtitle{
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

.cardtext{
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    margin: 5%;
    
}

.project-view-1{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.prj-card-1{
    border-radius: 30px;
    border: solid 2px white;
    margin:1%;
    
}

.section-contacts{
    margin: 10%;
    width: 80%;
    margin-bottom: 10%;
}

.worklist{
    
}

.workitem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.workitem .number{
    font-size: 80px;
    font-weight: 700;
    width: 20%;
    text-align: center;
    
}

.workitem .text{
    width: 80%;
}

.workitem .text .title{
    font-size: 30px;
    font-weight: 700;
}
.workitem .text .title span{
    background-color: var(--primary-color);
}

.workitem .text .subtitle{
    font-size: 25px;
}

.workitem .text .link{
    font-size: 25px;
    color: var(--link-color)
}

.workitem .text .link a{
    font-size: 25px;
    text-decoration: none;
    color: gray;
}

strong {
    position: relative;
}
  
strong::before {
    /* Highlight color */
    background-color: var(--secondary-color);
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(2deg);
  }

footer{
    text-align: center;
    padding: 10%;
    font-size: 2vw;
    background-color: #202020;
}


.section-title strong {
    position: relative;
}
  
.section-title strong::before {
    /* Highlight color */
    background-color: var(--primary-color);
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}


.menu-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    top: 0;
    bottom:0;
    position:fixed;
    display: none;
}

.menu-main{
    position:absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 5;
    padding: 5% 10%;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    font-size: 2vw;
}
.menu-child{
    position:absolute;
    color: black;
    padding: 5% 10%;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    font-size: 2vw;
}

.c1{
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.50);
    transform: translateX(5px);
}
.c2{
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.50);
    transform: translateX(10px);
}
.c3{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.50);
    transform: translateX(15px);
}
.c4{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.50);
    transform: translateX(20px);
}


.mode-button{
    margin: 1%;
    float: right;
}

.toggle-btn-dark{
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
}

.toggle-btn-light{
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

.symbol{
    font-size: 40px;
}