
:root {
  --surface-color: rgb(41, 41, 41);
  --curve: 40;
}

* {
    box-sizing: border-box;
    /*cursor: none;*/
    scroll-behavior: smooth
  }
  
  html, body {
    color: #222;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    transition: background-image 1.5s, color 1s;
    margin: 0;
    padding: 0;
    /*background-image: url('blob-scene-haikei-desktop.svg');*/
    background-repeat: repeat; /* Do not repeat the image */
    background-size:cover;
    
    /*background-image: url("light2.png");*/
    background-color: #001220;
    color: white;
    height: 100%;


    /*overflow: hidden;*/
    
  }

  .fullheight{
    height: 100%;
  }

  .arrowup{
    font-size: 4vw;
    font-weight: 550;
  }
  .arrowdown{
    font-size: 4vw;
    font-weight: 550;
    position: relative;
    z-index: 2;
  }

  .linkcontacts{
    font-size: 3vw;
    display: block;  
    text-align: left; 
  }
  .linkcontacts a{
    color:white;
    margin-right: 30px;
    text-decoration: none;
  }
  
  .blob{
    z-index: 1;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .blob svg{
    transform: scale(0.8);
  }

  .header {
    width: 93%;
    max-width: 93%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    flex-wrap: nowrap;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  .header h1{
    font-size: 4vw;
    gap: 10px;
    font-weight: 550;
  }
  
  .section {
    width: 80%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    font-size:2vw;
    position:relative;
    z-index: 2;
  }
  .section-about {
    width: 80%;
    max-width: 80%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    font-size:1.7vw;
    position:relative;
    z-index: 2;
  }

  .topnav {
    width: 90%;
    max-width: 90%;
    display: flex;
    text-align: end;
    padding: 1rem;
    margin: auto;
    font-size:2vw;
    margin-top: 3%;
  }
  .container{
    
  }

  .container p {
    font-size: 2vw;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .container h1 span.typed-text {
    /*
    background: linear-gradient(160deg, rgba(230,24,24,1) 0%, rgba(224,116,18,1) 48%, rgba(255,186,0,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    color:#222;
  }
  .container h1 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container h1 span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }


  .card-1 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-1:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background: #3a8bc96b;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-1 {
    font-size: 4vw;
    font-weight: bold;
    color: #3a8bc9;
  }

  .card-2 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-2:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background: #ff4b1955;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-2 {
    font-size: 4vw;
    font-weight: bold;
    color: #ff4b19;
  }

  .card-3 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-3:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background: #2ca84f4f;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-3 {
    font-size: 4vw;
    font-weight: bold;
    color: #2ca84f;
  }

  .card-4 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-4:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background:  #f6cd154d;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-4 {
    font-size: 4vw;
    font-weight: bold;
    color:  #f6cd15;
  }


  .card-5 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-5:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background:  #f6a4154b;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-5 {
    font-size: 4vw;
    font-weight: bold;
    color:  #f6a415;
  }

  
  .card-6 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-6:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background:  #ef2e2e49;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-6 {
    font-size: 4vw;
    font-weight: bold;
    color:  #ef2e2e;
  }

  .card-7 {
    margin: 1%;
    padding: 3%;
    display: grid;
    border-radius: 30px;
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.5s;
    background: none;
    /*background: radial-gradient(circle, rgba(238,177,146,1) 18%, rgba(177,199,202,1) 100%);*/

  }

  .card-7:hover {
    /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);*/
    background:  #ef2ebf50;
    /*background: linear-gradient(342deg, rgba(130,80,118,1) 11%, rgba(14,123,162,1) 100%); */
  }

  .card-number-7 {
    font-size: 4vw;
    font-weight: bold;
    color:  #ef2ebf;
  }

  .card-title{
    padding-left: 10px;
    font-size:2vw;
    font-weight: bold;
    width: 100%;
  }
  .card-subtitle{
    padding-left: 10px;
    font-size:1.5vw;
    font-weight:300;
    color: gray;
    
  }

  .card-icon{
    font-size:5vw;
    font-weight:bold;
  }

  .section-title{
      margin-top: 15%;
      font-size: 5vw;
      font-weight: 700;
      text-align: center;
  }

  .btn {
    border-radius: 3em;
    border-color: #2ca84f;
    color: #2ca84f;
    box-sizing: border-box;
    appearance: none;
    background-color: #33e36542;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
  }
  


  


  .t1{
    background: linear-gradient(160deg, rgba(230,24,24,1) 0%, rgba(224,116,18,1) 48%, rgba(255,186,0,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .t2{
    background:linear-gradient(160deg, rgba(24,64,230,1) 0%, rgba(130,18,224,1) 38%, rgba(255,0,230,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .t3{
    background:linear-gradient(160deg, rgba(30,230,24,1) 0%, rgba(18,224,158,1) 38%, rgba(0,179,255,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .t4{
    background: linear-gradient(160deg, rgba(230,24,199,1) 0%, rgba(224,18,65,1) 38%, rgba(255,100,0,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wrapper {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  

  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #1f79cd;
    color: #ffffff;
  }




hr.rounded {
  border-top: 8px solid;
  border-radius: 5px;
  width: 100%;
  
}

.cit {
  font-size:4vw;
  font-weight: bold;
  display: block;
}

.image {
  flex-basis: 40%;
  margin-right: auto;
  margin-left: auto;
}

.imghover{
  border-radius: 50%; 
  width:70%; 
  border: 5px solid whitesmoke; 
  vertical-align: middle;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
}

.imghover:hover{
  transform: scale(1.05);
}

.imgphone{
  border-radius: 50%; 
  width: 30%; 
  border: 10px solid; 
  transition: all 0.5s;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.imagephone{
  display: block;
  position:relative;
  z-index: 2;
  margin-top: 10%;
}


.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  right: 80px;
  top:140px;
  background: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding:8px 11px;
  font-size:1.5vw;
}

/* CSS */
.button-35-dark {
  font-family: "Work Sans", sans-serif;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 2vw;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1.5rem 1.7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .5s,-webkit-box-shadow .5s;
  transition: all 0.25s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35-dark:hover {
  /*box-shadow: linear-gradient(160deg, rgba(30,230,24,1) 0%, rgba(18,224,158,1) 38%, rgba(0,179,255,1) 79%);*/
  /*box-shadow: #909090 0 0 0 3px, transparent 0 0 0 0;*/
  background-color: #003964;
  color: #fff;
  transform: scale(1.05);
  /*background: rgb(52,46,42);
  background: linear-gradient(160deg, rgba(52,46,42,1) 0%, rgba(66,92,118,1) 100%);*/
}
.button-35-light:hover {
  /*box-shadow: */
  background-color: #fff;
  color:#121212;
  
}

.button-35-light {
  align-items: center;
  background-color: #121212;
  border-radius: 30px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1.5rem 1.7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .5s,-webkit-box-shadow .5s;
  transition: all 0.5s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



/* CSS */
.button-33 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: rgb(236,253,255);
  background: linear-gradient(160deg, rgba(236,253,255,1) 0%, rgba(65,240,209,1) 100%);
  /*background-color: #c2fbd7;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  color: rgb(0, 90, 0);*/
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-33:hover {
  /*box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;*/
  transform: scale(1.05);
}


.newcard{
  width:40%;
}
.cardtitle{
  margin:5%; 
  /*text-align:center; */
  font-size: 2vw;
}
.cardtext{
  font-size: 1.2vw;
}


.list-card{
  margin: 5% auto; 
  padding:5%; 
  background: #1b1c1e;
  color:white; 
  border-radius:40px;
  
}


.cardwork{
  width:40%;
  /*background: rgb(52,46,42);
  background: linear-gradient(160deg, rgba(52,46,42,1) 0%, rgba(66,92,118,1) 100%);*/
  margin: 5% 1%; 
  padding:2.5%; 
  background-color:#001a2e;; 
  color:white; 
  border-radius:30px;
  transition: all 0.5s;
  
}

.cardwork:hover{
  background-color:#003964;
  
}

.cardimage{
  height: 60%;
}

.cardimg{
  border-radius: 15px;
}

.cardbtn{
  margin:5%;
  margin-top: 10%;
}

.works{
  
  width: 80%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}










/* NAVBAR */











.container-button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 360px;
}

.bar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  left: 0;
  padding: 0 18px;
  position: absolute;
  width: 100%;
}
.bar-purple {
  background: #003964;/*#6000ea;*/
  color: white;
  clip-path: polygon(
    360px 0,
    360px 32px,
    43px 32px,
    39.775442px 31.67494px,
    36.772078px 30.74264px,
    34.054248px 29.26745px,
    31.686292px 27.31371px,
    29.732549px 24.94575px,
    28.257359px 22.22792px,
    27.325063px 19.22456px,
    27px 16px,
    27.325063px 12.77544px,
    28.257359px 9.77208px,
    29.732549px 7.05425px,
    31.686292px 4.68629px,
    34.054248px 2.73255px,
    36.772078px 1.25736px,
    39.775442px 0.32506px,
    43px 0
  );
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  
  text-align: center;
  width: 33.33%;
}
.bar-outer {
  clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    104px 32px,
    107.22456px 31.67494px,
    110.22792px 30.74264px,
    112.94575px 29.26745px,
    115.31371px 27.31371px,
    117.26745px 24.94575px,
    118.74264px 22.22792px,
    119.67494px 19.22456px,
    120px 16px,
    119.67494px 12.77544px,
    118.74264px 9.77208px,
    117.26745px 7.05425px,
    115.31371px 4.68629px,
    112.94575px 2.73255px,
    110.22792px 1.25736px,
    107.22456px 0.32506px,
    104px 0
  );
  height: 32px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    149px 32px,
    145.775442px 31.67494px,
    142.772078px 30.74264px,
    140.054248px 29.26745px,
    137.686292px 27.31371px,
    135.732549px 24.94575px,
    134.257359px 22.22792px,
    133.325063px 19.22456px,
    133px 16px,
    133.325063px 12.77544px,
    134.257359px 9.77208px,
    135.732549px 7.05425px,
    137.686292px 4.68629px,
    140.054248px 2.73255px,
    142.772078px 1.25736px,
    145.775442px 0.32506px,
    149px 0
  );
}
.bar-outer.pos2 {
  clip-path: polygon(
    0 0,
    0 32px,
    210px 32px,
    213.22456px 31.67494px,
    216.22792px 30.74264px,
    218.94575px 29.26745px,
    221.31371px 27.31371px,
    223.26745px 24.94575px,
    224.74264px 22.22792px,
    225.67494px 19.22456px,
    226px 16px,
    225.67494px 12.77544px,
    224.74264px 9.77208px,
    223.26745px 7.05425px,
    221.31371px 4.68629px,
    218.94575px 2.73255px,
    216.22792px 1.25736px,
    213.22456px 0.32506px,
    210px 0
  );
}
.bar-outer.pos3 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    256px 32px,
    252.775442px 31.67494px,
    249.772078px 30.74264px,
    247.054248px 29.26745px,
    244.686292px 27.31371px,
    242.732549px 24.94575px,
    241.257359px 22.22792px,
    240.325063px 19.22456px,
    240px 16px,
    240.325063px 12.77544px,
    241.257359px 9.77208px,
    242.732549px 7.05425px,
    244.686292px 4.68629px,
    247.054248px 2.73255px,
    249.772078px 1.25736px,
    252.775442px 0.32506px,
    256px 0
  );
}
.bar-outer.pos3 {
  clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    317px 32px,
    320.22456px 31.67494px,
    323.22792px 30.74264px,
    325.94575px 29.26745px,
    328.31371px 27.31371px,
    330.26745px 24.94575px,
    331.74264px 22.22792px,
    332.67494px 19.22456px,
    333px 16px,
    332.67494px 12.77544px,
    331.74264px 9.77208px,
    330.26745px 7.05425px,
    328.31371px 4.68629px,
    325.94575px 2.73255px,
    323.22792px 1.25736px,
    320.22456px 0.32506px,
    317px 0
  );
}
.bar-outer.left .bar-purple {
  transition-delay: 0;
}
.bar-outer.left {
  transition-delay: 80ms;
}
.bar-outer.right .bar-purple {
  transition-delay: 80ms;
}
.bar-outer.right {
  transition-delay: 0;
}




.container-nav{
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
  overflow: hidden;
  /*-webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);*/
  transition: all 0.5s;
  
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
}

nav{
  flex: 1;
  text-align: right;
  
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.bgc {
  transition: all 0.5s;
	background: white;
	padding: 0.5%;
}
.bgc-dark{
  transition: all 0.5s;
  background: #001220e8;
  
  
}
.disable-hover {
  pointer-events: none;
}

header{
  position: fixed;
  width: 100%;
  height: auto;
  transition: 500ms;
}

.container-1{
  display: none;
}

.title-logo{
  height: min-content;
  font-size: 2.5vw;
  font-family: 'Pacifico', cursive;
}

.section-skills{
  width: 55%;
  
}

#circle {
  position: fixed;
  z-index: 5;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  transition: background ease-in 10ms, box-shadow ease-in 150ms, transform ease-in 150ms;
  transform: translate3d(0, 0, 0);
}

.work-text{
  text-align:center; 
  font-size:2vw
}

.contact{
  background-color: white;
  color: black;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  text-align: center;
}

.contact a{
  color: black;
  text-decoration: none;
  
}



.ca3-scroll-down-link {
	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}